<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.tvseries">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@mipmap/tvs"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tvs_round"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupOnly="true"
        android:allowBackup="false">
        <activity android:name="app.tvs.activities.TVSeriesActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="app.tvs.activities.SeasonsActivity" />
        <activity android:name="app.tvs.activities.EpisodesActivity" />
        <activity android:name="app.tvs.activities.StartActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="app.tvs.jobs.UpdateTVSeriesShortJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>